################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bookstore/FileContentIndex/0bb1d3d6-36c3-40f3-8df1-a70c296b3325.vsidx
*.vsidx
